@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.text-trail {
  width: 100%;
  height: 100%;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 10s linear infinite;
}